{% extends "::cliponeLayout.html.twig" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/plugins/select2/select2.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/plugins/DataTables/dataTables.bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/plugins/bootstrap-modal/css/bootstrap-modal.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset("assets/plugins/bootstrap-datepicker-1.6.0/dist/css/bootstrap-datepicker.min.css") }}">
    {% block customCss %}{% endblock %}
{% endblock %}

{% block body %}
    <!-- start: HEADER -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <!-- start: TOP NAVIGATION CONTAINER -->
        <div class="container">
            <div class="navbar-header">
                <!-- start: RESPONSIVE MENU TOGGLER -->
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="clip-list-2"></span>
                </button>
                <!-- end: RESPONSIVE MENU TOGGLER -->
                <!-- start: LOGO -->
                <a class="navbar-brand" href="{{ path('core_home') }}">
                    <img src="#" alt="Logo" height="50px;">
                </a>
                <!-- end: LOGO -->
            </div>
            <div class="navbar-tools">
                <!-- start: TOP NAVIGATION MENU -->
                <ul class="nav navbar-right">
                    <!-- start: USER DROPDOWN -->
                    <li class="dropdown current-user">
                        <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
                            <img src="{{ asset('images/avatar.png') }}" alt="Logo user" height="25px">&nbsp;
                            <span class="username">{{ app.user.username }}</span>
                            <i class="clip-chevron-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                <li>
                                    <a href="{{ path('core_home', {'_switch_user' : '_exit'}) }}">
                                        <i class="clip-switch"></i>
                                        &nbsp;{{ 'switch'|trans }}
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{{ path('fos_user_change_password') }}">
                                    <i class="clip-settings"></i>
                                    &nbsp;{{ 'password.change.menu'|trans }}
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    <i class="clip-exit"></i>
                                    &nbsp;{{ 'logout'|trans }}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- end: USER DROPDOWN -->
                </ul>
                <!-- end: TOP NAVIGATION MENU -->
            </div>
        </div>
        <!-- end: TOP NAVIGATION CONTAINER -->
    </div>
    <!-- end: HEADER -->

    <!-- start: MAIN CONTAINER -->
    <div class="main-container">
        <div class="navbar-content">
            <div class="main-navigation navbar-collapse collapse">
                <div class="navigation-toggler">
                    <i class="clip-chevron-left"></i>
                    <i class="clip-chevron-right"></i>
                </div>
                {{ custom_menu_render() }}
            </div>
        </div>
        <div class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" style="padding-bottom: 1.5em;">
                        <div class="page-header">
                            <h1>{% block header %}{% endblock %}</h1>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% block content %}
                        {% endblock %}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: MAIN CONTAINER -->

    <!-- start: FOOTER -->
    <div class="footer clearfix">
        <div class="footer-inner">
            2018 &copy; BStorm - <i>BRAND</i> v<b>{{ application_version }}</b>
        </div>
        <div class="footer-items">
            <span class="go-top"><i class="clip-chevron-up"></i></span>
        </div>
    </div>
    <!-- end: FOOTER -->
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ asset('assets/plugins/select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/select2/select2_locale_' ~ app.request.locale ~ '.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/DataTables/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/DataTables/dataTables.bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/bootstrap-modal/js/bootstrap-modal.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/bootstrap-modal/js/bootstrap-modalmanager.js') }}"></script>
    <script type="text/javascript" src="{{ asset("assets/plugins/bootstrap-datepicker-1.6.0/dist/js/bootstrap-datepicker.min.js") }}"></script>
    {#<script type="text/javascript" src="{{ asset('assets/plugins/FileSaver.js-master/FileSaver.min.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('assets/plugins/tableExport/tableExport.js') }}"></script>#}
    {% if app.request.locale != 'en' %}
        <script type="text/javascript" src="{{ asset('assets/plugins/bootstrap-datepicker-1.6.0/dist/locales/bootstrap-datepicker.' ~ app.request.locale ~ '.min.js') }}"></script>
    {% endif %}
    {% block customJs %}{% endblock %}
{% endblock %}