{% extends "TwigBundle:Exception:errorTemplate.html.twig" %}

{% block body %}
    <div class="col-sm-12 page-error">
        <div class="error-number orange">
            403
        </div>
        <div class="error-details col-sm-6 col-sm-offset-3">
            <h3>Oops! You are stuck at 403</h3>
            <p>
                Unfortunately you don't have the rights to access the page.
                <br/>
                <a href="{{ path('ws_core_home') }}" class="btn btn-orange btn-return">
                    Return home
                </a>
            </p>
        </div>
    </div>
{% endblock %}