{% extends "TwigBundle:Exception:errorTemplate.html.twig" %}

{% block errorContent %}
    <div class="col-sm-12 page-error">
        <div class="error-number bricky">
            500
        </div>
        <div class="error-details col-sm-6 col-sm-offset-3">
            <h3>Oops! You are stuck at 500</h3>
            <p>
                Something's wrong!
                <br>
                It looks as though we've broken something on our system.
                <br>
                Don't panic, we are fixing it! Please come back in a while.
                <br/>
                <a href="{{ path('ws_core_home') }}" class="btn btn-orange btn-return">
                    Return home 
                </a>
            </p>
        </div>
    </div>
{% endblock %}