{% extends "::cliponeLayout.html.twig" %}

{% block classBody %}
    error-full-page
{% endblock %}

{% block body %}
    <!-- start: PAGE -->
    <div class="container">
        <div class="row">
            <!-- start: error -->
            {% block errorContent %}{% endblock %}
            <!-- end: error -->
        </div>
    </div>
{% endblock %}