<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


    <script type="text/javascript">
        var smallLocale = '{{ app.request.locale }}';
        var fullLocale = null;

        switch (smallLocale) {
            case 'fr':
                fullLocale = 'French';
                break;
            case 'en':
                break;
            default:
                alert('Missing locale !!');
                throw 'Missing locale !!';
        }

        var currentUserID = {{ app.user != null ? app.user.id : 'null' }};
    </script>
    <script type="text/javascript" src="{{ asset('scripts/opts.js') }}"></script>

    <title>{{ application_name }} - {% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body {% block bodyParams %}{% endblock %}>
    {% block body %}
    {% endblock %}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    {% block javascripts %}
    {% endblock %}
</body>
</html>