{% extends "::base.html.twig" %}

{% block stylesheets %}
    <!-- start: MAIN CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/plugins/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/plugins/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/fonts/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/main-responsive.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/plugins/iCheck/skins/all.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/plugins/perfect-scrollbar/src/perfect-scrollbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/theme_light.css') }}" id="skin_color">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/print.css') }}" media="print"/>
    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/plugins/font-awesome/css/font-awesome.min.css') }}">
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ asset('style/custom.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('style/admin.css') }}">
    <!-- end: MAIN CSS -->

    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    {% block css %}{% endblock %}
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->

{% endblock %}

{% block javascripts %}
    <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{{ asset('assets/plugins/respond.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/excanvas.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/jQuery-lib/1.10.2/jquery.min.js') }}"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script type="text/javascript" src="{{ asset('assets/plugins/jQuery-lib/2.0.3/jquery.min.js') }}"></script>
    <!--<![endif]-->
    <script type="text/javascript" src="{{ asset('assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/blockUI/jquery.blockUI.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/iCheck/jquery.icheck.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/perfect-scrollbar/src/jquery.mousewheel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/perfect-scrollbar/src/perfect-scrollbar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/main.js') }}"></script>
    <!-- end: MAIN JAVASCRIPTS -->

    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    {% block js %}{% endblock %}
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->

    <!-- start: INIT CLIPONE -->
    <script>
        jQuery(document).ready(function() {
            Main.init();
            $('form input[type="radio"]:not(.not-icheck), form input[type="checkbox"]:not(.not-icheck)').on('ifChanged', function (e) {
                $(e.target).trigger('change');
            });
        });
    </script>
    <!-- end: INIT CLIPONE -->
{% endblock %}