<h3>{{ 'password.change'|trans }}</h3>
<p>{{ 'password.reset.new'|trans }}</p>
<form action="{{ path('fos_user_change_password') }}" method="POST" class="fos_user_change_password">
    <fieldset>
        {{ form_errors(form) }}
        <div class="form-group">
            {{ form_errors(form.current_password) }}
            <span class="input-icon">
                <input type="password" class="form-control password" name="fos_user_change_password_form[current_password]" required="required" placeholder="{{ 'password.current'|trans }}">
                <i class="fa fa-lock"></i>
             </span>
        </div>
        <div class="form-group">
            {{ form_errors(form.plainPassword.first) }}
            <span class="input-icon">
                <input type="password" class="form-control password" name="fos_user_change_password_form[plainPassword][first]" required="required" placeholder="{{ 'password.new'|trans }}">
                <i class="fa fa-lock"></i>
             </span>
        </div>
        <div class="form-group">
            {{ form_errors(form.plainPassword.second) }}
            <span class="input-icon">
                <input type="password" class="form-control password" name="fos_user_change_password_form[plainPassword][second]" required="required" placeholder="{{ 'password.new.verif'|trans }}">
                <i class="fa fa-lock"></i>
             </span>
        </div>
        <div class="form-actions">
            {% if app.user != null %}
                <a href="{{ path('ws_core_home') }}" class="btn btn-green">
                    {{ 'homepage'|trans }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-green">
                    {{ 'login.back'|trans }}
                </a>
            {% endif %}
            <button type="submit" class="btn btn-bricky pull-right">
                {{ 'change_password.submit'|trans }} <i class="fa fa-arrow-circle-right"></i>
            </button>
        </div>
        {{ form_row(form._token) }}
    </fieldset>
</form>