{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
    {{ 'password.change'|trans }}
{% endblock %}

{% block fos_user_content %}
    {% include "FOSUserBundle:ChangePassword:change_password_content.html.twig" %}
{% endblock fos_user_content %}
