{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
    {{ 'login'|trans }}
{% endblock %}

{% block fos_user_content %}
    <h3>{{ 'login'|trans }}</h3>
    <p>
        {{ 'username.and.password'|trans }}
    </p>
    {% if error %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong>
        </div>
    {% endif %}
    <form id="form-login" class="form-login" action="{{ path("fos_user_security_check") }}" method="post">
        <fieldset>
            <div class="form-group">
                <span class="input-icon">
                    <input type="text" class="form-control" name="_username" value="{{ last_username }}" placeholder="{{ 'username'|trans }}" autofocus required>
                    <i class="fa fa-user"></i>
                 </span>
            </div>
            <div class="form-group form-actions">
                <span class="input-icon">
                    <input type="password" class="form-control password" id="password" name="_password" placeholder="{{ 'password'|trans }}" required>
                    <i class="fa fa-lock"></i>
                    <a class="forgot" href="{{ path('fos_user_resetting_request') }}">
                        {{ 'password.forgot'|trans }}
                    </a>
                 </span>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="form-actions">
                <label for="remember_me" class="checkbox-inline">
                    <input type="checkbox" class="grey remember" id="remember_me" name="_remember_me">
                    {{ 'remember.me'|trans }}
                </label>
                <button type="submit" class="btn btn-bricky pull-right" name="_submit">
                    {{ 'log.in'|trans }} <i class="fa fa-arrow-circle-right"></i>
                </button>
            </div>
        </fieldset>
    </form>
{% endblock %}