{% extends "::cliponeLayout.html.twig" %}

{% block bodyParams %}
    class="login"
{% endblock %}

{% block body %}
<div class="main-login col-md-4 col-md-offset-4">
    <div class="logo">
        <a href="{{ path('core_home') }}"><img src="#" alt="Logo" class="logo-brand"></a>
    </div>
    <div class="box-login">
        {% block fos_user_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="{{ asset("assets/plugins/jquery-validation/dist/jquery.validate.min.js") }}"></script>
    <script src="{{ asset("assets/js/login.js") }}"></script>
    <script>
        $(document).ready(function() {
            Login.init();
        });
    </script>
{% endblock %}