{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
    {{ 'email.send'|trans }}
{% endblock %}

{% block fos_user_content %}
    <h3>{{ 'email.send'|trans }}</h3>
    <p>
        {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
    </p>
    <a href="{{ path('fos_user_security_login') }}" class="btn btn-green">
        {{ 'login.back'|trans }}
    </a>
{% endblock %}
