{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
    {{ 'password.reset.request'|trans }}
{% endblock %}

{% block fos_user_content %}
    {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
{% endblock fos_user_content %}
