<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <h3>{{ 'password.reset.request'|trans }}</h3>
    <p>
        {{ 'email.input'|trans }}.
    </p>
    <div>
        <div class="form-group">
            <span class="input-icon">
                <input type="email" class="form-control" id="username" name="username" placeholder="{{ 'email'|trans }}" required="required" autofocus>
                <i class="fa fa-user"></i>
             </span>
        </div>
    </div>
    <div class="form-actions">
        <a href="{{ path('fos_user_security_login') }}" class="btn btn-green">
            {{ 'login.back'|trans }}
        </a>
        <button type="submit" class="btn btn-bricky pull-right">
            {{ 'resetting.request.submit'|trans }} <i class="fa fa-arrow-circle-right"></i>
        </button>
    </div>

</form>
