<h3>{{ 'password.reset'|trans }}</h3>
<p>{{ 'password.new.input'|trans }}</p>
<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" method="POST" class="fos_user_resetting_reset">
    <fieldset>
        {{ form_errors(form) }}
        <div class="form-group">
            {{ form_errors(form.plainPassword.first) }}
            <span class="input-icon">
                <input type="password" class="form-control password" name="fos_user_resetting_form[plainPassword][first]" required="required" placeholder="{{ 'password.new'|trans }}">
                <i class="fa fa-lock"></i>
             </span>
        </div>
        <div class="form-group">
            {{ form_errors(form.plainPassword.second) }}
            <span class="input-icon">
                <input type="password" class="form-control password" name="fos_user_resetting_form[plainPassword][second]" required="required" placeholder="{{ 'password.new.verif'|trans }}">
                <i class="fa fa-lock"></i>
             </span>
        </div>
        <div class="form-actions">
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-green">
                {{ 'login.back'|trans }}
            </a>
            <button type="submit" class="btn btn-bricky pull-right">
                {{ 'resetting.reset.submit'|trans }} <i class="fa fa-arrow-circle-right"></i>
            </button>
        </div>
        {{ form_row(form._token) }}
    </fieldset>
</form>
