{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
    {{ 'password.reset'|trans }}
{% endblock %}

{% block fos_user_content %}
    {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
{% endblock fos_user_content %}
